 <br>
  <br>
  <form  class="form-group" ng-submit="loadEvents()">
    <label for="name">Username:</label>
    <input type="text" name="name" ng-model="user">
    <label for="password">Password:</label>
    <input type="password" name="password" ng-model="password">
    <button type="submit">Load Events</button>
  </form>


  <div class="panel panel-default" ng-repeat="event in events">
    <img class="github-avatar" ng-src="{{event.actor.avatar_url}}"/>
    <span><b>{{event.actor.login}}</b> has done a {{event.type}}</span>
  </div>
